<h1>Alumno</h1>

<head>		
 <meta charset="utf-8">		    
  <meta http-equiv="X-UA-Compatible" content="IE=edge">		  
 <title>INICIO</title>		   
	<style>
 table {
  background: red;
  border: black 5px solid;
  
}

</style>
<table>
    <thead>
        <th>NO. DE CONTROL</th>
        <th>NOMBRE</th>
        <th>CARRERA</th>
    </thead>
    <tbody ng-repeat="alumno in alumnos | orderBy:'apellido_paterno' | filter:alumno ">
        <tr>
            <td>
                {{alumno.nocontrol}}
            </td>
            <td>
                {{alumno.nombre + " " + alumno.apellido_paterno + " " + alumno.apellido_materno}}
            </td>
            <td>
                {{alumno.carrera.nombre | uppercase}}
            </td>
        </tr>
    </tbody>
</table>